.logo {
}
.searching {
}
.search-container {
}
.search-bar {
}
.search-input {
}
.searching-btn {
}
.search-btn {
}
.errormsg {
}
.successmsg {
}
.resultsContainer {
}
.books {
}
.books-container {
}
.booksCount {
}
.fetched-book {
}
.wikipedia {
}
.wiki-container {
}
.article-summary {
}
.wiki-summary {
}
.video {
}
.videosCount {
}
.fetched-video {
}
.research-container {
}
.researchCount {
}
.fetched-research {
}
.github-container {
}
.reposCount {
}
.fetchedRepos {
}
.book-paragraph {
}
.book-link {
}
.book-thumbnail {
}
.book-info {
}
.book-title {
}
.book-author {
}
.book-description {
}
.vid-paragraph {
}
.video-link {
}
.video-image {
}
.video-info {
}
.video-title {
}
.video-source {
}
.research-paragraph {
}
.paper-link {
}
.paper-title {
}
.paper-authors {
}
.span-authors {
}
.paper-date {
}
.paper-summary {
}
.bg-purple-100 {
}
.p-4 {
}
.rounded-lg {
}
.border {
}
.border-purple-300 {
}
.article-link {
}
.article-title {
}
.article-description {
}
.wiki-paragraph {
}
.repos-paragraph {
}
.repos-link {
}
.repos-name {
}
.repos-description {
}
.flex {
}
.space-x-4 {
}
.text-xs {
}
.text-gray-500 {
}
.items-center {
}
.w-4 {
}
.h-4 {
}
.mr-1 {
}
.text-yellow-500 {
}
.text-red-500 {
}
